:root{
    --verde: rgb(124, 231, 124);
    --azul-fundo: #3a375e;
    --preto-fundo:#1E1E1E;
   --azul-botao: #3A375E;

}
.titulo span{
    color: var(--verde);
}
.titulo{
    font-size: 28px;
    font-family: "Chakra Petch", sans-serif;
}
.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
#section{
    border-radius: 10px;
    background-color: var(--azul-fundo);
    display: flex;
    flex-direction: column;

}
#botoes{
    margin-top: 116px;
    width: 298px; 
    height: 111px;
    background-color: var(--azul-botao);
    border: none;

}
body{
    background-color: var(--preto-fundo);
}